# [ProDS Asso] Set1

In [1]:
import pandas as pd
import numpy as np

C:\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# =============================================================================
# 데이터 읽기 및 데이터 타입 확인
# =============================================================================

dat1=pd.read_csv("employ.csv")
dat1.dtypes


dat1.describe()

dat1.columns.values
#array(['EmployeeNumber', 'Surname', 'GivenName', 'Gender', 'City',
#       'JobTitle', 'DepartmentName', 'StoreLocation', 'Division', 'Age',
#       'LengthService', 'AbsentHours', 'AbsetRate', 'BusinessUnit']

array(['EmployeeNumber', 'Gender', 'City', 'JobTitle', 'Age',
       'LengthService', 'AbsentHours', 'AbsentRate'], dtype=object)

In [3]:
dat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8165 entries, 0 to 8164
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8165 non-null   int64
 1   Gender          8165 non-null   int64
 2   City            8165 non-null   object
 3   JobTitle        8165 non-null   object
 4   Age             8165 non-null   float64
 5   LengthService   8165 non-null   float64
 6   AbsentHours     8165 non-null   float64
 7   AbsentRate      8165 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 510.4+ KB

## Q1

In [4]:
q1 = dat1.copy()

q1['Absent']=np.where(q1['AbsentHours']>0,1,0) 

q1.groupby('City')['Absent'].sum().max()

# 답: 1453

## 참고
#Vancouver        1453
#Victoria          572
#New Westminster   453
#Burnaby           290
#Surrey            223

1453

## Q2

In [5]:
q2=dat1.copy()

q2['AbsentOver']=np.where(q2['AbsentHours']> 151, 1, 0) # 1(초과), 0(미만)


from scipy.stats import chi2_contingency

q2_tab=pd.crosstab(q2['Gender'], q2['AbsentOver'])
q2_out=chi2_contingency(q2_tab, correction=False)

round(q2_out[0], 2)


# 답: 61.95

61.95

## Q3

In [6]:
dat2015_x=dat1[['Age', 'LengthService', 'Gender']]
dat2015_y=dat1['AbsentRate']

dat2016_x=dat2015_x.copy()
dat2016_x[['Age', 'LengthService']]=dat2016_x[['Age', 'LengthService']]+1


from sklearn.linear_model import LinearRegression

lm1=LinearRegression()

lm1.fit(X=dat2015_x, y=dat2015_y)
pred=lm1.predict(dat2016_x)

round(np.mean(pred),2)

# 답: 3.03

3.03